<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CenterServlet</servlet-name>
        <servlet-class>Servlets.CenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllProject</servlet-name>
        <servlet-class>Servlets.ListAllProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NullServlet</servlet-name>
        <servlet-class>Servlets.NullServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestChoiChovui</servlet-name>
        <servlet-class>Servlets.TestChoiChovui</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>Servlets.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>Servlets.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>Servlets.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleDAO</servlet-name>
        <servlet-class>DAO.RoleDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoleServlet</servlet-name>
        <servlet-class>Servlets.GetRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <servlet-class>Servlets.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeDetailServlet</servlet-name>
        <servlet-class>Servlets.ViewEmployeeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRecruitmentServlet</servlet-name>
        <servlet-class>Servlets.SearchRecruitmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentDTO</servlet-name>
        <servlet-class>DTO.RecruitmentDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimesheetServlet</servlet-name>
        <servlet-class>Servlets.AddTimesheetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimesheetServlet</servlet-name>
        <servlet-class>Servlets.TimesheetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllTimesheet</servlet-name>
        <servlet-class>Servlets.ListAllTimesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimesheet</servlet-name>
        <servlet-class>Servlets.DeleteTimesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllEmployee</servlet-name>
        <servlet-class>Servlets.ListAllEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <servlet-class>Servlets.ProjectDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactiveCriterion</servlet-name>
        <servlet-class>Servlets.DeactiveCriterion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EditCriterion</servlet-name>
        <servlet-class>Servlets.EditCriterion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AddCriterion</servlet-name>
        <servlet-class>Servlets.AddCriterion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ListCriterion</servlet-name>
        <servlet-class>Servlets.ListCriterion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ViewRecruitmentDetailServlet</servlet-name>
        <servlet-class>Servlets.ViewRecruitmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecruitmentServlet</servlet-name>
        <servlet-class>Servlets.CreateRecruitmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CenterServlet</servlet-name>
        <url-pattern>/CenterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllProject</servlet-name>
        <url-pattern>/ListAllProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleDAO</servlet-name>
        <url-pattern>/RoleDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoleServlet</servlet-name>
        <url-pattern>/GetRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <url-pattern>/SearchEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeDetailServlet</servlet-name>
        <url-pattern>/ViewEmployeeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRecruitmentServlet</servlet-name>
        <url-pattern>/SearchRecruitmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitmentDTO</servlet-name>
        <url-pattern>/RecruitmentDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NullServlet</servlet-name>
        <url-pattern>/NullServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestChoiChovui</servlet-name>
        <url-pattern>/TestChoiChovui</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimesheetServlet</servlet-name>
        <url-pattern>/AddTimesheetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimesheetServlet</servlet-name>
        <url-pattern>/TimesheetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllTimesheet</servlet-name>
        <url-pattern>/ListAllTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimesheet</servlet-name>
        <url-pattern>/DeleteTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllEmployee</servlet-name>
        <url-pattern>/ListAllEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <url-pattern>/ProjectDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCriterion</servlet-name>
        <url-pattern>/ListCriterion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCriterion</servlet-name>
        <url-pattern>/AddCriterion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCriterion</servlet-name>
        <url-pattern>/EditCriterion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactiveCriterion</servlet-name>
        <url-pattern>/DeactiveCriterion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecruitmentDetailServlet</servlet-name>
        <url-pattern>/ViewRecruitmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecruitmentServlet</servlet-name>
        <url-pattern>/CreateRecruitmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>       

        <welcome-file>Login.jsp</welcome-file>
        

    

    </welcome-file-list>
</web-app>
